<%= form_for([node, node.comments.build], :remote=>true  )   do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :comment%><br>
    <%= f.text_area :comment%>
  </p>
    <%= f.submit %>

<% end %>


