<%= form_for(node) do |f| %>
  <% if node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% node.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :node_name %>
    <%= f.text_field :node_name %>
  </div>

  <div class="field">
    <%= f.label :place_id %>
    <%= f.select(:place_id, Place.all.collect {|u| [u.place_name , u.id]},:prompt => 'Select places',:class=>"form-control" ) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
