<div class="container -fluid">
<p id="notice"><%= notice %></p>
<div class="updates_nodes">
<br><br><br>
<h1>Nodes List</h1>
<div class="table-responsive">
<table class = "table table-hover">  <thead>
    <tr>
      <th>Node name</th>
      <th>like</th>
      <th>dislike</th>
      <th colspan="3"></th>
    </tr>
  </thead>

      <tbody>
        <% @nodes.each do |node| %>
          <tr>
            <td><%= node.node_name %></td>
          <div class="col-md-6">
          <div class="btn-group pull-right" style="">
         <td><%= link_to like_node_path(node), method: :put ,data: { :remote=> true } , :class=> "btn btn-default" do %>
          <span class="glyphicon glyphicon-thumbs-up node-up-<%=node.id%>" style='width: 50px' >
             <%= node.get_upvotes.size %> <% end %></td>
          </span>
       
          <td><%= link_to dislike_node_path(node), method: :put ,data: { :remote=> true } , :class=> "btn btn-default" do %>
          <span class="glyphicon glyphicon-thumbs-down node-down-<%=node.id%>" style='width: 50px'>
           <%= node.get_downvotes.size %><% end %></td>
          </span>
      </div>
    </div>
             <td>
              <%= link_to 'Show',nodes_show_node_path(node),{:remote => true,'data-toggle' =>"modal", 'data-target'=>'#myModal',:class=>"btn btn-success"} %></td>
            
          
            <td><%= link_to 'Edit', nodes_edit_node_path(node),{:remote => true,'data-toggle' =>"modal", 'data-target'=>'#edit-nodes',:class=>"btn btn-success"} %></td>
            <td><%= link_to 'Destroy', node,:class=>"btn btn-success", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
</div>
</div>




  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
       <h4 class="modal-title">Node Info</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
     </div>
    </div>
</div>

 <div class="modal fade" id="edit-nodes" role="dialog">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
       <h4 class="modal-title">Node update Info</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
     </div>
    </div>
</div>