<div id="new_update">
<%= form_for(state,:class=>"form-horizontal",:remote=>true) do |f| %>
  <% if state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state.errors.count, "error") %> prohibited this state from being saved:</h2>

      <ul>
      <% state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :state_name,:class=>"col-sm-2 control-label" %>
    <div class="col-md-3  inputGroupContainer">
    <%= f.text_field :state_name,:class=>"form-control" %>
  </div>
  </div>
  <div class="form-group">
    <%= f.label :CountryName ,:class=>"col-sm-2 control-label"%>
    <div class="col-md-3  inputGroupContainer">
       <%= f.select(:country_id, Country.all.collect {|u| [u.country_name, u.id]},{},:class=>"form-control",:prompt => 'Select Country') %>
  </div>
<br><br><br><br>

  <div class="form-group">
  <div class="col-md-10 inputGroupContainer">
    <%= f.submit :class=>"btn btn-success"%>

  </div>
  </div>
    <br><br><br><br>
<% end %>
</div>