<% @links.each do |link| %>
<div class="container">
<br>
	    <h4><%= link_to link.title, link %><br>
	      Submitted <%= time_ago_in_words(link.created_at) %> 
	    
	    </h4>

         <div class="col-md-6">
          <div class="btn-group pull-right">
         <td><%= link_to like_link_path(link), method: :put ,data: { :remote=> true } ,:class=> "btn btn-default" do %>
          <span class="glyphicon glyphicon-thumbs-up">
             <%= link.get_upvotes.size %> <% end %></td>
          </span>
       
          <td><%= link_to dislike_link_path(link), method: :put ,data: {:remote => true },:class=> "btn btn-default" do %>
          <span class="glyphicon glyphicon-thumbs-down">
           <%= link.get_downvotes.size %><% end %></td>
          </span>
      </div>
    </div>
</div>
      <% end %>