<div id="new_update">
<%= form_for(company ,:class=>"form-horizontal",:remote=>true)  do |f| %>

<div class="container">
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

     <div class="form-group">
            <%= f.label :name,:class=>"col-sm-1 control-label"  %>
          <div class="col-sm-5 inputGroupContainer">
             <%= f.text_field :name,:class=>"form-control" %>
          </div>
      </div>
     <br><br>
    <div class="form-group">
            <%= f.label :CountryName,:class=>"col-sm-1 control-label" %>
           <div class="col-sm-2  inputGroupContainer">
           <%= f.select(:country_id, Country.all.collect {|u| [u.country_name, u.id]},:prompt => 'Select Country',:class=>"form-control") %>
           </div>
      </div>
      
      <div class="form-group">
          <%= f.label :StateName,:class=>"col-sm-1 control-label"  %>
          <div class="col-sm-2  inputGroupContainer">
           <div class="statecontainer">
             <%= f.select(:state_id, State.all.collect {|u| [u.state_name, u.id]},:prompt => 'Select State',:class=>"form-control") %>
           </div>
        </div>
     </div>


    <div class="form-group">
          <%= f.label :CityName ,:class=>"col-sm-1"%>
           <div class="col-sm-2  inputGroupContainer">
             <div class="citycontainer">
               <%= f.select(:city_id, City.all.collect {|u| [u.city_name, u.id]},:prompt => 'Select City',:class=>"form-control") %>
             </div>
         </div>
    </div>
 <br><br><br>

         <div class="form-group">
              <%= f.label :postcode,:class=>"col-sm-1" %>
               <div class="col-sm-2  inputGroupContainer">
                   <%= f.text_field :postcode %>
               </div>
          </div>
            <div class="form-group">
               <%= f.label :start_date,:class=>"col-sm-2 control-label" %>
              <div class="col-sm-2  inputGroupContainer">
                <%= f.text_field :start_date, :id=>"datetimepicker1",:class=>"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :active %>
          <%= f.check_box :active %>
        </div>
      

       <div class="actions">
        <%= f.submit :class=>"btn btn-success",:remote=>true %>
      </div>
  <% end %>
 </div>
</div>
<script>
$(document).ready(function() {
$('#company_country_id').change(function(){
  var country =  $('#company_country_id').val()

  $.ajax({
    url: "/states/get_states",
    type: "GET",
    data: {country: country},
  });
});
});
</script>


<script type="text/javascript">
            $(function () {
               $('#datetimepicker1').datetimepicker({
                format: 'DD-MM-YYYY'
             });
               }); 
            </script>

