<%= form_for(company) do |f| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :CountryName %>
       <%= f.select(:country_id, Country.all.collect {|u| [u.country_name, u.id]},:prompt => 'Select Country') %>
  </div>

  <div class="field">
    <%= f.label :StateName %>
    <div class="statecontainer">
    <%= f.select(:state_id, State.all.collect {|u| [u.state_name, u.id]},:prompt => 'Select State') %>
  </div>
  </div>


  <div class="field">
    <%= f.label :CityName%>
     <div class="citycontainer">
    <%= f.select(:city_id, City.all.collect {|u| [u.city_name, u.id]},:prompt => 'Select City') %>
  </div>
  </div>

  <div class="field">
    <%= f.label :postcode %>
    <%= f.text_field :postcode %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
$(document).ready(function() {
$('#company_country_id').change(function(){
  var country =  $('#company_country_id').val()
  $.ajax({
    url: "/get_states",
    type: "GET",
    data: {country: country},
  });
});
});
</script>
<script>
$(document).ready(function() {
$('#company_city_id').change(function(){

  var state =  $('#company_city_id').val()
  $.ajax({
    url: "/get_cities",
    type: "GET",
    data: {state: state},
  });
});
});

</script>