<%= form_for(company ,:class=>"form-horizontal")  do |f| %>
<div class="container">
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name,:class=>"col-sm-1"  %>
    <div class="col-sm-5">
    <%= f.text_field :name,:class=>"form-control" %>
  </div>
  </div>
<br>

  <div class="form-inline">
    <div class="form-group">
      <%= f.label :CountryName %>
       <%= f.select(:country_id, Country.all.collect {|u| [u.country_name, u.id]},:prompt => 'Select Country',:class=>"form-control" ) %>
       </div>

      
      <div class="form-group">
        <div class="col-md-1">
          <%= f.label :StateName,:class=>"col-sm-1"  %>
          </div>
         <div class="statecontainer">
           <%= f.select(:state_id, State.all.collect {|u| [u.state_name, u.id]},:prompt => 'Select State',:class=>"form-control") %>
        </div>
     </div>


    <div class="form-group">
          <%= f.label :CityName ,:class=>"col-sm-1"%>
          <div class="citycontainer">
               <%= f.select(:city_id, City.all.collect {|u| [u.city_name, u.id]},:prompt => 'Select City',:class=>"form-control") %>
          </div>
       </div>
  </div>
<br><br>
<div class="form-inline">
   <div class="form-group">
    <%= f.label :postcode %>
    <%= f.text_field :postcode %>
  </div>

  <div class="form-group">
    <%= f.label :start_date %>
   <%= text_field_tag :start_date, params[:start_date] , :placeholder => "Start date", :id=>"start-date"%> 
  </div>

 <div class="form-group">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

<script>
$(document).ready(function() {
$('#company_country_id').change(function(){
  var country =  $('#company_country_id').val()
  alert(1)
  $.ajax({
    url: "/get_states",
    type: "GET",
    data: {country: country},
  });
});
});
</script>

<script> 
  $( function() { 
    $("#start-date" ).datepicker({ dateFormat: 'dd-mm-yy' }); 
   
  } ); 
  </script>


