
<div class="container-fluid">
<h> Company Details<h>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @country= Country.find(@company.country_id).country_name %>
</p>

<p>
  <strong>State:</strong>
<%= @state= State.find(@company.state_id).state_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @city= City.find(@company.city_id).city_name %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @company.postcode %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @company.start_date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @company.active %>
</p>


<h2>Comments</h2>
<% @company.comments.each do |comment| %>
  <p>
    <strong>title:</strong>
    <%= comment.title %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>

<div class="btn-group pull-right">
         <td><%= link_to like_comment_path(comment), method: :put ,data: { :remote=> true } , :class=> "btn btn-default" do %>
        
          <span class="glyphicon glyphicon-thumbs-up comment-up-<%=comment.id%>" style='width: 50px'>
             <%= comment.get_upvotes.size %> <% end %></td>
          </span>
       
          <td><%= link_to dislike_comment_path(comment), method: :put ,data: { :remote=> true } , :class=> "btn btn-default" do %>
          
          <span class="glyphicon glyphicon-thumbs-down comment-down-<%=comment.id%>" style='width: 50px'>
           <%= comment.get_downvotes.size %><% end %></td>
          </span>
      </div>
   
  
<% end %>

</div>