<div class="container">

<p id="notice"><%= notice %></p>
<div id="company-edit-partial"></div> 
<h1>Companies List</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>State</th>
      <th>City</th>
      <th>Postcode</th>
      <th>Start date</th>
      <th>Active</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= @country= Country.find(company.country_id).country_name%></td>
        <td><%= @state= State.find(company.state_id).state_name%></td>
        <td><%= @city= City.find(company.city_id).city_name%></td>
        <td><%= company.postcode %></td>
        <td><%= company.start_date %></td>
        <td><%= company.active %></td>
        <td><%= link_to 'Show', company, :class=>"btn btn-success" %></td>
        <td><%= link_to 'Edit', inline_edit_company_path(company),  :class=>"btn btn-success",:remote => true %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

