
<div class="container">
<p id="notice"><%= notice %></p>
<div class="update_company">
<h1>Companies List</h1>

<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>State</th>
      <th>City</th>
      <th>Postcode</th>
      <th>Start date</th>
      <th>Active</th>
      <th>Like</th>
      <th>Dislike</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= @country= Country.find(company.country_id).country_name%></td>
        <td><%= @state= State.find(company.state_id).state_name%></td>
        <td><%= @city= City.find(company.city_id).city_name%></td>
        <td><%= company.postcode %></td>
        <td><%= company.start_date %></td>
        <td><%= company.active %></td>
        <div class="col-md-6">
          <div class="btn-group pull-right">
         <td><%= link_to like_company_path(company), method: :put ,data: { :remote=> true } , :class=> "btn btn-default" do %>
          <span class="glyphicon glyphicon-thumbs-up company-up-<%=company.id%>" style='width: 50px' >
             <%= company.get_upvotes.size %> <% end %></td>
          </span>
       
          <td><%= link_to  dislike_company_path(company), method: :put ,data: { :remote=> true } , :class=> "btn btn-default" do %>
          <span class="glyphicon glyphicon-thumbs-down company-down-<%=company.id%>" style='width: 50px'>
           <%= company.get_downvotes.size %><% end %></td>
          </span>
      </div>
    </div>
       <td>
          <%= link_to 'Show', company_show_company_path(company),{:remote => true,'data-toggle' =>"modal", 'data-target'=>'#myModal',:class=>"btn btn-success"} %></td>
          
        <td><%= link_to 'Edit', inline_edit_company_path(company),{:remote => true,'data-toggle' =>"modal", 'data-target'=>'#editmodel',:class=>"btn btn-success"} %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
       <h4 class="modal-title">Company Info</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
     </div>
    </div>
</div>
<div class="modal fade" id="editmodel" role="dialog">
    <div class="modal-dialog">
     <div class="modal-content",>
      <div class="modal-header">
       <h4 class="modal-title">Company edit Info</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
     </div>
    </div>
</div>
