<div class="container-fluid">
<p>
  <strong>User:</strong>
  <%if @user_region.user_id.present? %>
  <%= User.find(@user_region.user_id).first_name %>
    <% end %>
</p>

<p>
  <strong>Region:</strong>
 <%if @user_region.region_id.present?%>
  <%= Region.find(@user_region.region_id).region_name %>
<%end%>
</p>
<% @user_region.comments.each do |comment| %>
  <p>
    <strong>title:</strong>
    <%= comment.title %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>
  <div class="btn-group pull-right">
         <td><%= link_to like_comment_path(comment), method: :put ,data: { :remote=> true } , :class=> "btn btn-default" do %></td>
        
          <span class="glyphicon glyphicon-thumbs-up comment-up-<%=comment.id%>" style='width: 50px'>
             <%= comment.get_upvotes.size %> <% end %>
          </span>
       
          <td><%= link_to dislike_comment_path(comment), method: :put ,data: { :remote=> true } , :class=> "btn btn-default" do %></td>
          
          <span class="glyphicon glyphicon-thumbs-down comment-down-<%=comment.id%>" style='width: 50px'>
           <%= comment.get_downvotes.size %><% end %>
          </span>
      </div>
      <%end%>
	<h2>Add a comment:</h2>
	<%= form_for @comment,  :url => comments_user_region_path , :method =>"post"  do |f| %> 
	 
	  <p>
	    <%= f.label :title %><br>
	    <%= f.text_field :title%>
	  </p>
	  <p>
	    <%= f.label :comment %><br>
	    <%= f.text_area :comment%>
	  </p>
	  <p>
	    <%= f.submit %>
	  </p>
	<%end%>
	</div>

