<div id="new_update">
 <%= form_for(country,:class=>"form-horizontal" ,:remote=>true) do |f| %>
  <% if country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :country_name ,:class=>"col-sm-2 control-label"%>
     <div class="col-md-3  inputGroupContainer">
    <%= f.text_field :country_name,:class=>"form-control" %>
  </div>
  </div>
  <div class="form-group">
    <%= f.label :CountryCode,:class=>"col-sm-3 control-label" %>
    <div class="col-md-3  inputGroupContainer">
    <%= f.text_field :code,:class=>"form-control" %>
  </div>
  </div>
<br><br>
   <div class="form-group">
      <div class="col-md-6 inputGroupContainer">

    <%= f.submit :class=>"btn btn-success" %>
  </div>
  </div>

 <% end %>
</div>
