  <div class="container">
  <p id="notice"><%= notice %></p>
 <div class="country-update-partial">
  <h1>Countries List</h1>

<table class = "table table-hover"> 
 <thead>
    <tr>
      <th>Country name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.country_name %></td>
        <td><%= link_to 'Show', country_show_country_path(country) ,:class=>"btn btn-success",:remote=>true%></td>
        <td><%= link_to 'Edit', country_edit_country_path(country),:class=>"btn btn-success",:remote=>true %></td>
        <td><%= link_to 'Destroy', country,:class=>"btn btn-success", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
 </table>

 <br>
</div>
</div>
 <div id="country-edit-partial"></div>
 