<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @image.user_id %>
</p>

<p>
  <strong>Real name:</strong>
  <%= @image.real_name %>
</p>

<p>
  <strong>Image name:</strong>
  <%= @image.image_name %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
