<div class="container-fluid">
<p id="notice"><%= notice %></p>
<div class="place-update">

  <h1>Places list</h1>
  <div class="table-responsive">
  <table class = "table table-hover">
  <thead>
    <tr>
      <th>Place name</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td><%= place.place_name %></td>
          <td><%= Company.find(place.company_id).name %></td>
          
         <td>
          <%= link_to 'Show',  place_show_place_path(place),{:remote => true,'data-toggle' =>"modal", 'data-target'=>'#myModal',:class=>"btn btn-success"} %></td>
        
          
          <td><%= link_to 'Edit',  place_edit_place_path(place),{:remote => true,'data-toggle' =>"modal", 'data-target'=>'#edit-place',:class=>"btn btn-success"} %></td>
          
          <td><%= link_to 'Destroy', place,:class=>"btn btn-success", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
   </table>
   </div>
    <br>
</div>
</div>

  