<p id="notice"><%= notice %></p>

<h1>Places</h1>

<table class = "table table-hover">
  <thead>
    <tr>
      <th>Place name</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.place_name %></td>
        <td><%= place.company_id %></td>
        
        <td><%= link_to 'Show', place,:class=>"btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_place_path(place),:class=>"btn btn-success" %></td>
        <td><%= link_to 'Destroy', place,:class=>"btn btn-success", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

