<!DOCTYPE html>
<html>
  <head>
    <title>UserAuth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<body>
<nav class="navbar navbar-default">
   <div  class="container">
    <div class="navbar-header">
       
    </div>
    <ul class="nav navbar-nav navbar-left">
            <% if user_signed_in? %>
             
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
               <li><a href="/users/sign_in">Login</a></li>
               <li><a href="/users/sign_up">Sign Up</a></li>
            <% end%>
            
             <li><%= link_to 'admin','admin' %></li>
             <li><%= link_to 'projects','/projects' %></li> 

             <li><%= link_to 'Category','/categories' %></li> 
       
       
     </ul>


    </div>
 </nav>


    
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
